body, p, h2, ul {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif, "宋体";
	background: #fff;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {line-height: 1.5;margin:0;}
.m-0 {
	margin: 0;
}
.p-0 {
	padding: 0;
}
.f-l {
	float: left;
}
.f-r {
	float: right;
}
.w-100 {
	width: 100%;
}
.row {
	padding: 0;
	margin:0;
}
em {
	font-style: normal;
}
i {
	display: inline-block;
	font-style: normal;
}
li {
	list-style: none;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	outline:none;   
	-moz-outline:none;
}
/*清除浮动*/
.clear {
    clear: both;
    float: none;
    overflow: hidden;
    height: 0;
}

.clearFix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* for IE6/7 */
.clearFix {
    *zoom: 1;
}
textarea {  -webkit-appearance: none;}  
/*去除 浏览器自带输入框焦点边框*/
input,button,select,textarea{ outline:none;}
textarea{resize:none;}

/*清除点击链接出现的边框*/
a:active, a:focus {
	outline: none;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding:0;
}

/*Home*/
.header {
	position: relative;
	overflow: hidden;
	transition: height 1.4s;
    -webkit-transition: height 1.4s;
    -ms-transition: height 1.4s;
}
.Logo {
	display: block;
	position: absolute;
	top: 38px;
	left: 60px;
	z-index: 9;
}
.header-A-swiper {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.header-A-swiper,
.header-A-swiper .swiper-slide,
.header-A-swiper .swiper-slide > img {
	width: 100%;
	height: 100%;
}
.header-A-swiper .swiper-pagination-bullet,
.header-B-swiper .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	border-radius: 0;
	background: #fff;
	opacity: 1;
	border:1px solid #6f6f6f;
	margin:0 10px !important;
}
.header-A-swiper .swiper-pagination-bullet-active,
.header-B-swiper .swiper-pagination-bullet-active {
	background: #c80a28;
}
.header-A-swiper .swiper-slide .text {
	position: absolute;
	top: 30%;
	left: 55%;
	color: #393939;
}
.header-A-swiper .swiper-slide .text > img {
	width: auto;
	margin-bottom: 20px;
}
.header-A-swiper .swiper-slide .text article {
	width: 300px;
	margin:0 auto;
	text-align: center;
}
.header-A-swiper .swiper-slide .text article strong {
	font-size: 24px;
	display: block;
}
.header-A-swiper .swiper-slide .text article p {
    font-size: 18px;
	padding-top: 20px;
	line-height: 30px;
}
.header-A-swiper .swiper-slide .text article a {
	border:1px solid #c80a28;
	font-size: 24px;
	color: #c80a28;
	border-radius: 3px;
	height: 60px;
	padding:0;
	line-height: 60px;
	width: 100%;
	margin-top: 40px;
}
.header-A-swiper .swiper-button-next,
.header-A-swiper .swiper-button-prev,
.header-B-swiper .swiper-button-next,
.header-B-swiper .swiper-button-prev {
	background: none;
}
.header-A-swiper .swiper-button-next span,
.header-A-swiper .swiper-button-prev span,
.header-B-swiper .swiper-button-next span,
.header-B-swiper .swiper-button-prev span {
    width: 33px;
    height: 4px;
    display: inline-block;
    background: #6f6f6f;
}
.header-B-swiper .swiper-button-next span,
.header-B-swiper .swiper-button-prev span {
	background: #fff;
}
.header-A-swiper .swiper-button-prev span:nth-child(1),
.header-B-swiper .swiper-button-prev span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    position: relative;
    top: 7px;
}
.header-A-swiper .swiper-button-prev span:nth-child(2),
.header-B-swiper .swiper-button-prev span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    position: relative;
    top: -10px;
}
.header-A-swiper .swiper-button-next span:nth-child(1),
.header-B-swiper .swiper-button-next span:nth-child(1) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    position: relative;
    top: 7px;
    left: 26px;
}
.header-A-swiper .swiper-button-next span:nth-child(2),
.header-B-swiper .swiper-button-next span:nth-child(2) {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    position: relative;
    top: -10px;
    left: 26px;
}

.header-A-swiper .swiper-button-next,
.header-B-swiper .swiper-button-next {
	right: 90px;
}
.header-A-swiper .swiper-button-prev,
.header-B-swiper .swiper-button-prev {
	left: 90px;
}
.header-A-swiper .swiper-pagination,
.header-A-swiper .swiper-container-horizontal > .swiper-pagination,
.header-B-swiper .swiper-pagination,
.header-B-swiper .swiper-container-horizontal > .swiper-pagination {
	bottom: 50px !important;
}
/*Nav*/
.Nav-Wra {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 9;
	background: #eee;
	transition:all .4s linear; 
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
	-webkit-box-shadow:-2px 0 5px #aaa,0 0 0,0 0 0 ,0 0 0; 
	-moz-box-shadow:-2px 0 5px #aaa,0 0 0,0 0 0 ,0 0 0; 
	box-shadow:-2px 0 5px #aaa,0 0 0,0 0 0 ,0 0 0;
}
/*.Nav-Wra .Nav-Nei {
	width: 100%;
	height: 100%;
	overflow: visible;
}*/
.Nav-Wra .Nav {
    -webkit-box-shadow:-2px 0 5px #aaa,0 0 0,0 0 0 ,0 0 0; 
	-moz-box-shadow:-2px 0 5px #aaa,0 0 0,0 0 0 ,0 0 0; 
	box-shadow:-2px 0 5px #aaa,0 0 0,0 0 0 ,0 0 0;
    z-index: 9;
    height: 100%;
    position: relative;
	width: 365px;
	transition:all .4s linear; 
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
}
.Nav-Wra .Nav > ul {
	padding-top: 100px;
	width: 365px;
}
.Nav-Wra .Nav > ul > li {
	text-align: right;
	line-height: 60px;
}
.Nav-Wra .Nav > ul > li > a {
	font-size: 30px;
	color: #333;
	padding-right: 60px;
	display: block;
}
.Nav-Wra .Nav > ul > li ul li {
	line-height: 40px;
}
.Nav-Wra .Nav > ul > li ul li a {
	font-size: 18px;
	color: #666;
	display: block;
	padding-right: 60px;
}
.Nav-Wra .Nav > ul > li a.active {
    color: #fff;
    background: #c80a28;
}
.Nav-Wra .Nav .Chinese-English {
	position: absolute;
	right:60px;
	bottom: 30px;
	text-align: right;
	font-size: 18px;
	color: #666;
	line-height: 1.8;
	transition:all .4s linear; 
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
}
.Nav-Wra .Nav .Chinese-English p i {
	width: 40px;
	height: 2px;
	background: #ccc;
	position: relative;
	bottom: 5px;
	right: 20px;
}
.Nav-Wra .Nav .Chinese-English p a {
	color: #666;
	padding: 0 5px; 
}
.Nav-content-Wra {
	z-index: 8;
	height: 100%;
	position: relative;
	overflow: hidden;
	transition:all .4s linear; 
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
}
.Nav-content-Wra .Nav-content {
	-webkit-box-shadow:-2px 0 5px #aaa,0 0 0,0 0 0 ,0 0 0; 
	-moz-box-shadow:-2px 0 5px #aaa,0 0 0,0 0 0 ,0 0 0; 
	box-shadow:-2px 0 5px #aaa,0 0 0,0 0 0 ,0 0 0;
}
.Nav-content-Wra .Nav-content ul {
	z-index: 3;
	position: relative;
	padding: 50px 0px 0 45px;
}
.Nav-content-Wra .Nav-content-a ul li {
	float: left;
	margin:0 15px 30px 15px;
	width: 140px;
	height: 140px;
}
.Nav-content-Wra .Nav-content-a ul li a {
	border-radius: 8px 0 8px 8px;
	overflow: hidden;
	display: block;
	position: relative;
}
.Nav-content-Wra .Nav-content-a ul li a img {
	width: 100%;
}
.Nav-content-Wra .Nav-content-a ul li a .Tu-a {
	position: relative;
	z-index: 10;
}
.Nav-content-Wra .Nav-content-a ul li a .Tu-a .wenzi {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	background: rgba(0,0,0,.4);
	color: #fff;
	font-size: 12px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items:center;
	justify-content: center;
	text-align: center;
	-webkit-transform:translate(0,-50%);
    -moz-transform:translate(0,-50%);
    transform:translate(0,-50%);
}
.Nav-content-Wra .Nav-content-a ul li a .Tu-b {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
	left: 0;
}
.Nav-content-Wra .Nav-content-b ul li {
    float: left;
    text-align: center;
    padding:0 15px 30px 15px;
    width: 30.33333%;
}
.Nav-content-Wra .Nav-content-b ul li a {
	display: block;
	color: #333;
}
.Nav-content-Wra .Nav-content-b ul li a img {
	width: 100%;
	display: block;
}
.Nav-content-Wra .Nav-content-b ul li a h3 {
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	width: 100%;
}
.Nav-content-Wra .Nav-content-b ul li a h3 p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.Nav-content-Wra .Nav-content-b ul li a h3 span {
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.Nav-content-Wra .Nav-content-b ul li a h3 i {
	display: block;
	width: 0;
	height: 2px;
	background: #c80a28;
	margin:3px auto 0;
}
.Nav-content-Nei {
	height: 100%;
	width: 0;
	transition:all .4s linear; 
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
}
.Nav-content {
	height: 100%;
	position: relative;
	z-index: 4;
	transition:all .4s linear; 
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    display: none;
}
.Nav-content-a {
	width: 600px;
}
.Nav-content-b {
	width: 660px;
}
.Nav-content-Wra .Nav-content .gengduo {
	font-size: 18px;
	float: right;
	color: #c80a28;
	margin-right: 60px;
}
.Nav-content-Wra .Nav-content .gengduo i {
	display: inline-block;
	width: 8px;
	height: 15px;
	background: url('../images/i-1.png') no-repeat left;
	margin-left: 10px;
	margin-bottom: -2px;
}
.Nav-Wra .Txt {
	width: 60px;
	background: #eee;
	float: right;
	height: 100%;
	-webkit-box-shadow:-2px 0 5px #aaa,0 0 0,0 0 0 ,0 0 0; 
	-moz-box-shadow:-2px 0 5px #aaa,0 0 0,0 0 0 ,0 0 0; 
	box-shadow:-2px 0 5px #aaa,0 0 0,0 0 0 ,0 0 0; 
	z-index: 4;
}
.Nav-Wra .Txt span {
	height: 60px;
	line-height: 60px;
	color: #fff;
	background: #c80a28;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 100px;
	left: -50px;
	box-sizing: content-box;
	width: 160px;
	text-align: center;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.Nav-Wra .button {
	width: 58px;
	height: 58px;
	position: absolute;
	top: 50px;
	z-index: -1;
	cursor: pointer;
	right:100%;
	border: 0;
	background: none;
}
.Nav-Wra .button .bor {
	border:4px solid #c80a28;
	width: 58px;
	height: 58px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 8px 0 0 8px;
	background: #c80a28;
}
.Nav-Wra .button .span {
	z-index: 2;
	position: relative;
}
.Nav-Wra .button span {
	display: inline-block;
	width: 40px;
	height: 2px;
	background: #fff;
}
.Nav-Wra .button span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    position: relative;
    top: -7px;
    left: 4px;
}
.Nav-Wra .button span:nth-child(2) {
	display: none;
}
.Nav-Wra .button span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    position: relative;
    top: 1px;
    left: 4px;
}

/*PC导航默认*/
.Nav-Wra.active {
	right: -100%;
}
.Nav-Wra.active .Nav-Nei {
	overflow: hidden;
	transition:all .4s linear; 
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
}
.Nav-Wra.active .button {
	position: fixed;
	right: 66px;
}
.Nav-Wra.active .button .span {
	z-index: -1;
}
.Nav-Wra.active .button .span span {
	display: block;
	-webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    left: -15px;
    top: 0;
    margin:6px 0;
    height: 5px;
    background: #0075c1;
    z-index: -1;
}
.Nav-Wra.active .button .bor {
	border:4px solid #c80a28;
	background: none;
	border-radius: 8px 0 8px 8px;
}
.Nav-content-Nei.active {
	width: auto;
}
/*首页banner2*/
.header-B-swiper .swiper-slide > img {
	width: 100%;
}
.header-B-swiper .swiper-slide .Txt-Div {
	position: absolute;
	top: 50%;
	right: 18%;
	width: 440px;
	height: 400px;
    background: #dc1d38;
    -webkit-transform:translate(0,-50%);
    -moz-transform:translate(0,-50%);
    transform:translate(0,-50%);
    text-align: center;
    color: #fff;
}
.header-B-swiper .swiper-slide .Txt-Div h3 {
	padding-top: 40px;
}
.header-B-swiper .swiper-slide .Txt-Div strong {
	font-size: 20px;
	font-weight: normal;
	margin: 20px 0 30px;
	display: block;
}
.header-B-swiper .swiper-slide .Txt-Div p {
	font-size: 18px;
	line-height: 30px;
	padding:0 66px;
}
.header-B-swiper .swiper-slide .Txt-Div a {
	width: 200px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	padding: 0;
	border:1px solid #fff;
	color: #fff;
	font-size: 20px;
	margin-top: 30px;
}
/*Content*/
.Home-Content {
	width: 100%;
	padding-top: 100px;
}
.Home-Content h2 {
	text-align: center;
	font-size: 24px;
	color: #333;
	font-weight: bold;
}
.Home-Content h2 p {
	margin-top: 10px;
}
/*Content-1*/
.Home-Content-A .Content-Nei {
	width: 1200px;
	margin: 100px auto 0;
	overflow: hidden;
}
.Home-Content-A .Content-Nei .maple-tab {
	width: 78%;
	margin: 0 auto 160px;
}
.Home-Content-A .Content-Nei .maple-tab ul li {
	width: calc(25% - 8px);
	margin:0 4px;
	text-align: center;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #9798a2;
	border:1px solid #9798a2;
	font-weight: bold;
}
.Home-Content-A .Content-Nei .maple-tab ul li.active {
	border-color: #c80a28;
	color: #c80a28;
}
.Home-Content-A .Content-Nei .Home-Content-A-container {
	overflow: visible;
}
.Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide {
	display: none;
	position: relative;
}
.Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide.active {
	display: block;
}
.Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div {
	padding: 0 5px;
	margin-bottom: 80px;
}
.Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a {
	display: block;
	height: 250px;
	padding: 30px 20px;
}
.Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a h4 p {
	font-size: 18px;
	color: #333;
	font-weight: bold;
	line-height: 1.2;
}
.Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a h4 span {
	font-size: 16px;
	color: #333;
	line-height: 1.2;
}
.Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a i {
	width: calc(100% - 10px);
	height: 1px;
	background: #333;
	position: absolute;
	left: 0;
	top: 80px
}
.Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a strong {
	margin-top: 60px;
	display: inline-block;
	visibility:hidden;
	padding: 2px 10px;
	border:1px solid #fff;
	font-weight: normal;
	color: #fff;
}
.Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a img.Photo {
    position: absolute;
    top: -90px;
    right: 0;
    z-index: 3;
}
.Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a img.Bottom {
    position: absolute;
    bottom: 30px;
    left: 20px;
	visibility:hidden;
	opacity: 0;
}
.Home-Content-A .Content-Nei .gengduo {
	font-size: 23px;
	color: #333;
	position: absolute;
	bottom: 30px;
	right: 0;
}
.Home-Content-A .Content-Nei .gengduo i {
	display: inline-block;
	width: 8px;
	height: 15px;
	background: url('../images/i-1.png') no-repeat right;
	margin-left: 10px;
	margin-bottom: -1px;
}
/*Content-2*/
.Home-Content-B {
	padding-top:0;
}
.Home-Content-B .row {
	width: 100%;
	background: rgba(0, 0, 0, .5);
}
.Home-Content-B .row > div {
	z-index: 1;
}
.Home-Content-B .row > div > a {
	display: block;
}
.Home-Content-B .row > div > a .img1 {
	position: relative;
	z-index: 10;
}
.Home-Content-B .row > div > a .img1 > .img {
	width: 100%;
}
.Home-Content-B .row > div > a .img1 > div {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items:center;
	justify-content: center;
	text-align: center;
	background: rgba(29,30,39,.6);
	position: absolute;
	top: 0;
	left: 0;
}
.Home-Content-B .row > div > a .img2 {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
	left: 0;
}
.Home-Content-B .row > div > a .img2 > .img {
	width: 100%;
}

/*Content-3*/
.Home-Content-C .Content-Nei {
	width: 1600px;
	margin: 100px auto 0;
	padding-bottom: 100px;
	position: relative;
}
.Home-Content-C .Content-Nei .row > div {
	padding: 0 5px;
	overflow: hidden;
}
.Home-Content-C .Content-Nei .row > div a {
	display: block;
	width: 100%;
	font-size: 18px;
}
.Home-Content-C .Content-Nei .row > div a .Photo {
	overflow: hidden;
}
.Home-Content-C .Content-Nei .row > div a .Photo img {
	width: 100%;
}
.Home-Content-C .Content-Nei .row > div a h4 {
	color: #333;
	font-weight: bold;
	margin:20px 0 5px;
}
.Home-Content-C .Content-Nei .row > div a p {
	color: #666;
	line-height: 1.5;
}
.Home-Content-C .Content-Nei .gengduo {
	font-size: 23px;
	color: #333;
	position: absolute;
	bottom: 20px;
	right: 0;
}
.Home-Content-C .Content-Nei .gengduo i {
	display: inline-block;
	width: 8px;
	height: 15px;
	background: url('../images/i-1.png') no-repeat right;
	margin-left: 10px;
	margin-bottom: -1px;
}
/*footer*/
.footer {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.footer .footerbg {
	width: 100%;
	height: 100%;
}
.footer-Nei {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.footer-Nei .footer-Top {
	text-align: center;
}
.footer-Nei .footer-Top {
	width: 100%;
	height: 60%;
	border-bottom: 1px solid #898a8f;
	padding-top: 50px;
}
.footer-Nei .footer-Top h2 {
	font-size: 24px;
	color: #fff;
	font-weight: bold;
}
.footer-Nei .footer-Top h2 p {
	margin-top: 10px;
}
.footer-Nei .footer-Top a.btn {
	width: 300px;
	height: 66px;
	line-height: 66px;
	padding: 0;
	color: #c80a28;
	border:1px solid #c80a28;
	font-size: 24px;
	margin-top:40px;
}
.footer-Nei .footer-Top img.logo {
	display: block;
	margin: 70px auto 40px;
}
.footer-Nei .footer-Top .Address {
	width: 100%;
}
.footer-Nei .footer-Top .Address > div {
	width: 50%;
	line-height: 24px;
	font-size: 14px;
	color: #fff;
}
.footer-Nei .footer-Top .Address > div p {
	font-weight: bold;
	margin-bottom: 5px;
}
.footer-Nei .footer-Top .Address > div.f-l {
	text-align: right;
	padding-right: 20px;
}
.footer-Nei .footer-Top .Address > div.f-r {
	text-align: left;
	padding-left: 20px;
}
.footer-Nei .Site-Map {
	width: 880px;
	margin:0 auto;
	position: relative;
	top: 60px;
	right: 150px;
}
.footer-Nei .Site-Map .Href {
	width: 25%;
}
.footer-Nei .Site-Map .Href h5 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-Nei .Site-Map .Href ul li a {
	color: #fff;
    font-size: 14px;
    line-height: 2;
    transition:all .2s linear; 
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}


/*旋转*/

.Content-4 {
	width: 100%;
	height: 800px;
	overflow: hidden;
	position: relative;
}
.Content-4-Nei {
	width: 1920px;
	height: 800px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.BtnDivWra {
	width: 3840px;
	height: 3840px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin:-1920px 0 0 -2470px;
    transform: rotate(-22.5deg);
    z-index: 1;
}
.BtnDiv {
	width: 3840px;
	height: 3840px;
	position: absolute;
	top: -50%;
	left: 50%;
	overflow: hidden;
	cursor: pointer;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
    box-shadow:0 0 10px rgba(0, 0, 0, .5); 
}
.BtnDiv > div {
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
    box-shadow:0 0 10px rgba(0, 0, 0, .5); 
}
#BtnDiv-1 {
	-moz-transform-origin:left bottom;
    -webkit-transform-origin:left bottom;
    -o-transform-origin:left bottom;
    transform-origin:left bottom;
	transform: rotate(405deg);
}
#BtnDiv-2 {
	-moz-transform-origin:left bottom;
    -webkit-transform-origin:left bottom;
    -o-transform-origin:left bottom;
    transform-origin:left bottom;
	transform: rotate(315deg);
}
#BtnDiv-3 {
	-moz-transform-origin:left bottom;
    -webkit-transform-origin:left bottom;
    -o-transform-origin:left bottom;
    transform-origin:left bottom;
	transform: rotate(225deg);
}
#BtnDiv-4 {
	-moz-transform-origin:left bottom;
    -webkit-transform-origin:left bottom;
    -o-transform-origin:left bottom;
    transform-origin:left bottom;
	transform: rotate(135deg);
}
.BtnDiv .BtnDiv-Nei {
    width: 3840px;
	height: 3840px;
	position: absolute;
	top: 0;
	left: 0;
}
.BtnDiv .BtnDiv-Nei1 {
	-moz-transform-origin:left bottom;
    -webkit-transform-origin:left bottom;
    -o-transform-origin:left bottom;
    transform-origin:left bottom;
	transform: rotate(45deg);
	z-index: 9;
}
#Button-1 {
	width: 240px;
	height: 240px;
    position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform:translate(-50%,-50%) rotate(22.5deg);
    -moz-transform:translate(-50%,-50%) rotate(22.5deg);
    transform:translate(-50%,-50%) rotate(22.5deg);
}
#Button-1 img {
	width: 100%;
	height: 100%;
 
}
.Content-4 .Content-4-Nei .Image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.Content-4 .Content-4-Nei .Image img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.Content-4 .Content-4-Nei .Image img.active {
	opacity: 1;
}

.BtnDiv .BtnDiv-Nei .Text {
	width: 170px;
	height: 100px;
	/*background: #ccc;*/
    position: absolute;
    left: 0;
    bottom: 150px;
    z-index: 99;
    transform: rotate(22.5deg);
}
.BtnDiv .BtnDiv-Nei .Text .Icon img {
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    transform:translate(-50%,0);
	opacity: 0;
}
.BtnDiv .BtnDiv-Nei .Text .Icon img.Img1 {
	opacity: 1;
}
.BtnDiv .BtnDiv-Nei .Text p {
	color: #fff;
	font-size: 24px;
	text-align: center;
	padding-top: 50px;
}
.BtnDiv .BtnDiv-Nei .Bg-Icon {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	z-index: 99;
	opacity: 0;
}
.BtnDiv .BtnDiv-Nei.active .Bg-Icon {
	opacity: 1;
}
.BtnDiv .BtnDiv-Nei .Bg-Icon img {
	position: absolute;
	bottom: 180px;
	left: 60px;
	transform: rotate(-67deg);
}

























