@charset "utf-8";

/*延迟*/

.tr-02 {
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.tr-03 {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.tr-04 {
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
}

.tr-06 {
    transition: all .6s linear;
    -webkit-transition: all .6s linear;
    -moz-transition: all .6s linear;
    -ms-transition: all .6s linear;
    -o-transition: all .6s linear;
}


/*移动端导航点击按钮*/

.header .container-fluid .navbar-toggle {
    border: 0;
    padding: 0;
    border-radius: 0;
}

.header .container-fluid .navbar-toggle span {
    width: 38px;
    height: 4px;
    margin-top: 8px;
    background-color: #124e2d;
}

.header .container-fluid .navbar-toggle span {
    height: 5px;
    width: 40px;
    border-radius: 8px;
    display: block;
    margin-top: 8px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.header .container-fluid .navbar-toggle.active-toggle span:nth-child(2) {
    -webkit-transform: rotate(42deg);
    -moz-transform: rotate(42deg);
    -ms-transform: rotate(42deg);
    -o-transform: rotate(42deg);
    transform: rotate(42deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    width: 44px;
    position: relative;
    top: -3px;
}

.header .container-fluid .navbar-toggle.active-toggle span:nth-child(3) {
    opacity: 0
}

.header .container-fluid .navbar-toggle.active-toggle span:nth-child(4) {
    -webkit-transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    transform: rotate(-42deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    width: 44px;
    position: relative;
    top: 2px;
}

.header .container-fluid .navbar-toggle:focus,
.header .container-fluid .navbar-toggle:hover {
    background: none;
}

@media screen and (min-width: 768px) {
    a.Txt_Href_color {
        transition: all .4s linear;
        -webkit-transition: all .4s linear;
        -moz-transition: all .4s linear;
        -ms-transition: all .4s linear;
        -o-transition: all .4s linear;
    }
    a.Txt_Href_color:hover {
        color: #c80a28;
    }
    .header-A-swiper .swiper-slide .text article a:hover {
        background: #c80a28;
        color: #fff;
    }
    .footer-Nei .footer-Top a.btn:hover:before {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
        opacity: 0.2;
    }
    .footer-Nei .footer-Top a.btn:hover:after {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    .custom.swiper-button-next:hover span,
    .custom.swiper-button-prev:hover span,
    .custom.swiper-button-next:hover span,
    .custom.swiper-button-prev:hover span {
        background: #c80a28;
    }
    .Nav-Wra .Nav > ul > li a:hover {
        background: #c80a28;
        color: #fff;
    }
    .Nav-content-Wra .Nav-content .gengduo:hover {
        color: #666;
    }
    .Nav-content-Wra .Nav-content .gengduo:hover i {
        background: url('../images/i-1.png') no-repeat right;
    }
    .Home-Content-A .Content-Nei .gengduo:hover,
    .Home-Content-C .Content-Nei .gengduo:hover {
        color: #c80a28;
    }
    .Home-Content-A .Content-Nei .gengduo:hover i,
    .Home-Content-C .Content-Nei .gengduo:hover i {
        background: url('../images/i-1.png') no-repeat left;
    }
    .Home-Content-B .row > div > a:hover .img1,
    .Nav-content-Wra .Nav-content-a ul li a:hover .Tu-a {
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .Home-Content-B .row > div > a:hover .img2,
    .Nav-content-Wra .Nav-content-a ul li a:hover .Tu-b {
        -webkit-transition-delay: 0.3s;
        -moz-transition-delay: 0.3s;
        -ms-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    .Nav-Wra .Nav .Chinese-English p a:hover {
        color: #c80a28;
    }
    .Nav-Wra.active .button:hover .span span {
        left: 3px;
    }
    .Nav-content-Wra .Nav-content-b ul li a:hover h3 i {
        width: 70%;
    }
    .header-B-swiper .swiper-slide .Txt-Div a:hover {
        color: #dc1d38;
        background: #fff;
    }
    .Home-Content-A .Content-Nei .maple-tab ul li:hover {
        border-color: #c80a28;
        color: #c80a28;
    }
    .Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a:hover i {
        height: 100%;
        top: 0;
        background: #9798a2;
        z-index: -1;
    }
    .Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a:hover h4 p {
        color: #fff;
    }
    .Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a:hover h4 span {
        color: #fff;
    }
    .Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a:hover strong {
        visibility: visible;
    }
    .Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a:hover img.Bottom {
        visibility: visible;
        opacity: 1;
    }
    .Home-Content-C .Content-Nei .row > div a:hover .Photo img {
        -webkit-animation: tada 1s .2s ease both;
        -moz-animation: tada 1s .2s ease both;
        -o-animation: tada 1s .2s ease both;
        animation: tada 1s .2s ease both;
    }
    .Home-Content-C .Content-Nei .row > div a:hover h4 {
        color: #c80a28;
    }
    .footer-Nei .Site-Map .Href ul li a:hover {
        color: #c80a28;
    }
    .Industry-Detailed .Industry-Detailed-Wra .Btn:hover,
    .footer-Nei .footer-Top a.btn:hover {
        color: #fff;
    }
    .Text-Content .Text-Div a:hover {
        color: #c80a28;
    }
    .About .Home-Content-C .Click li:hover {
        color: #c80a28;
        border-color: #c80a28;
    }
    .Industry .within-Wra .swiper .swiper-container .swiper-slide a:hover .photo .img1 {
        opacity: 0;
    }
    .Industry .within-Wra .swiper .swiper-container .swiper-slide a:hover .photo .img2 {
        opacity: 1;
    }
    .Industry .within-Wra .swiper .swiper-container .swiper-slide a:hover p {
        color: #c80a28;
    }
    .content.About3 .block ul li.active .viewphoto img,
    .content.About3 .block ul li:hover .viewphoto img {
        opacity: .8;
    }
    .content.About3 .block ul li.active .txt,
    .content.About3 .block ul li:hover .txt {
        opacity: 1;
        top: 50%;
    }
    .content.About3 .block ul li .swiper-Div .swiper-slide a:hover .img1 {
        opacity: 0;
    }
    .content.About3 .block ul li .swiper-Div .swiper-slide a:hover .img2 {
        opacity: 1;
    }
    .Product-banner .Video-Btn:hover .btn {
        opacity: .8;
    }
    .Product-banner ul li.active,
    .Product-banner ul li:hover {
        border: 1px solid #c80a28;
    }
    .Product-banner .Video .guanbi:hover {
        opacity: .8;
    }
    .Product_Details .top-btn a:hover,
    .Product_Details .top-btn a.active {
        color: #c80a28;
        border-color: #c80a28;
    }
    #Eject .modal-dialog .close:hover span {
        opacity: .5;
    }
    .content.Contact .leave button.button:hover {
        -webkit-box-shadow: 0 0 10px rgba(200, 10, 40, 0.8);
        -moz-box-shadow: 0 0 10px rgba(200, 10, 40, 0.8);
        box-shadow: 0 0 10px rgba(200, 10, 40, 0.8);
        -o-box-shadow: 0 0 10px rgba(200, 10, 40, 0.8);
    }
    .content.About3 .block .back button:hover {
        background: #fff;
        border-color: #c80a28;
    }
    .content.About3 .block .back button:hover:after,
    .content.About3 .block .back button:hover:before {
        background: #c80a28;
    }
}


/* 图标 animation */

@keyframes icon-bounce {
    0%,
    100% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    50% {
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    75% {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    85% {
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}

@-webkit-keyframes icon-bounce {
    0%,
    100% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    50% {
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    75% {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    85% {
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}

@-moz-keyframes icon-bounce {
    0%,
    100% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    50% {
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    75% {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    85% {
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}

@-o-keyframes icon-bounce {
    0%,
    100% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    50% {
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    75% {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    85% {
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}


/*图片效果*/

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale(1);
    }
    10%,
    20% {
        -webkit-transform: scale(0.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale(1.1) rotate(3deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
    }
    100% {
        -webkit-transform: scale(1) rotate(0);
    }
}

@-moz-keyframes tada {
    0% {
        -moz-transform: scale(1);
    }
    10%,
    20% {
        -moz-transform: scale(0.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90% {
        -moz-transform: scale(1.1) rotate(3deg);
    }
    40%,
    60%,
    80% {
        -moz-transform: scale(1.1) rotate(-3deg);
    }
    100% {
        -moz-transform: scale(1) rotate(0);
    }
}

@keyframes tada {
    0% {
        -moz-transform: scale(1);
    }
    10%,
    20% {
        -moz-transform: scale(0.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90% {
        -moz-transform: scale(1.1) rotate(3deg);
    }
    40%,
    60%,
    80% {
        -moz-transform: scale(1.1) rotate(-3deg);
    }
    100% {
        -moz-transform: scale(1) rotate(0);
    }
}


/*服务与支持弹出窗*/

@keyframes div1 {
    100% {
        top: 50%;
    }
}

@-webkit-keyframes div1 {
    100% {
        top: 50%;
    }
}

@-moz-keyframes div1 {
    100% {
        top: 50%;
    }
}

@-o-keyframes div1 {
    100% {
        top: 50%;
    }
}

@media screen and (max-width: 1700px) {
    .Home-Content-C .Content-Nei {
        width: 90%;
    }
    .Home-Content {
        overflow: hidden;
    }
}

@media screen and (max-width: 1649px) {
    /*合作伙伴*/
    .content.About3 .block {
        width: 90%;
    }
    .content.About3 .block ul {
        width: 100%;
    }
}

@media screen and (max-width: 1649px) {
    .About2>ul li .About2-Div {
        width: 100%;
    }
    .About2>ul li:nth-child(odd) .About2-Div .photo {
        right: 0;
    }
    .About2>ul li {
        padding: 0 20px;
    }
    .About2>ul li {
        height: auto;
    }
    .About2>ul li .About2-Div .photo img {
        max-width: 100%;
    }
    .About2>ul li .About2-Div>div.txt .txtNei {
        margin-top: 50%;
    }
    .About2>ul li:nth-child(odd).position .About2-Div .photo img,
    .About2>ul li:nth-child(even).position .About2-Div .photo img {
        position: static;
    }
    .About2>ul li .About2-Div>div.txt h2 {
        font-size: 40px;
    }
    .About2>ul li:nth-child(odd).position .About2-Div .photo img {
        position: relative !important;
        left: -20px;
    }
    /*合作伙伴*/
    .content.About3 .block {
        width: 90%;
    }
    .content.About3 .block ul li {
        width: calc(20% - 20px);
        margin: 0 10px 20px;
    }
    .content.About3 .block ul li .swiper-Div .swiper-slide a img {
        width: 100%;
    }
    .content.About3 .block ul li .sanjiao.active {
        top: calc(100% + 5px);
    }
    .content.About3 .block ul li .swiper-Div {
        bottom: 36px;
    }
}

@media screen and (max-width: 1439px) {}

@media screen and (max-width: 1365px) {
    .header-A-swiper .swiper-pagination,
    .header-A-swiper .swiper-container-horizontal > .swiper-pagination,
    .header-B-swiper .swiper-pagination,
    .header-B-swiper .swiper-container-horizontal > .swiper-pagination {
        bottom: 20px !important;
    }
    .Home-Content-A .Content-Nei {
        width: 90%;
    }
    .Text-Content .Text-Div {
        width: 450px;
    }
    /*首页弹窗*/
    .Eject {
        width: 90%;
    }
    /*行业应用*/
    .Industry .within-Wra .swiper .swiper-container .swiper-slide a {
        padding: 0 30px;
    }
    .Industry .within-Wra .swiper .swiper-container .swiper-slide a .photo img {
        width: 100%;
    }
    .Industry-Detailed .Industry-Detailed-Wra ul li .f-l {
        width: 200px;
    }
    .Industry-Detailed .Industry-Detailed-Wra ul li .f-r {
        width: calc(100% - 200px);
    }
    .Industry-Detailed .Industry-Detailed-Wra ul li .f-r.photo img {
        width: calc(25% - 30px);
    }
    /*合作伙伴*/
    .content.About3 .block ul li .txt h4 {
        font-size: 22px;
    }
    .content.About3 .block ul li .txt h5 {
        font-size: 20px;
    }
}

@media screen and (max-width: 1279px) {
    /*最新动态*/
    .Content-Width {
        width: 95% !important;
    }
}

@media screen and (max-width: 1199px) {
    .header-A-swiper .swiper-slide .text {
        left: auto;
        right: 5%;
    }
    .header-B-swiper .swiper-slide .Txt-Div {
        height: 100%;
        right: 0;
        padding-top: 4%;
    }
    .Home-Content-C .Content-Nei .row > div {
        margin-bottom: 20px;
    }
    .Text-Content .Text-Div {
        width: 300px;
        top: 52%;
    }
    .Text-Content .Text-Div.active {
        left: 680px;
    }
    .BtnDiv .BtnDiv-Nei .Bg-Icon img {
        bottom: 260px;
        left: 590px;
        width: 60px;
    }
    .BtnDiv .BtnDiv-Nei2 .Bg-Icon img {
        left: 490px;
        bottom: 260px;
        width: 60px;
    }
    .Text-Content .Text-Div h2 i {
        display: none;
    }
    .Text-Content .Text-Div p {
        margin-top: 5px;
        font-size: 16px;
    }
    .Text-Content .Text-Div a {
        margin-top: 10px
    }
    .Text-Content .Text-Div h2 strong {
        font-size: 24px;
    }
    .Content-4-h2 {
        display: block;
    }
    .Content-4 .title {
        display: none;
    }
    .Home-Content-A .Content-Nei .maple-tab {
        width: 100%;
    }
    .Nav-content-a,
    .Nav-content-b {
        width: 430px;
    }
    .Nav-content-Wra .Nav-content-b ul li {
        width: 50%;
    }
    .Nav-Wra.active .button {
        right: 20px;
        top: 30px;
    }
    /*联系我们*/
    .content.Contact .leave {
        margin-bottom: 100px;
    }
    .content.Contact .leave input,
    .content.Contact .leave textarea,
    .content.Contact .leave select,
    .content.Contact .leave button.button {
        margin-bottom: 15px;
        font-size: 16px;
    }
    .content.Contact .leave input,
    .content.Contact .leave select,
    .content.Contact .leave button.button {
        height: 50px;
        line-height: 50px;
    }
    .content.Contact .leave .leave-Nei2 ul li {
        width: 25%;
        padding-right: 15px;
        margin: 0;
    }
    .content.Contact .leave .leave-Nei2 ul {
        width: calc(100% + 16px)
    }
    .content.Contact .leave h3 {
        margin: 30px 0;
    }
    .Content-Width {
        padding-bottom: 15px;
    }
    .content.Contact .address ul {
        font-size: 16px;
    }
    .Industry .within-Wra .swiper .swiper-container .swiper-slide a p {
        font-size: 16px;
    }
    /*合作伙伴*/
    .content.About3 .block ul li .txt h4 {
        font-size: 20px;
    }
    .content.About3 .block ul li .txt h5 {
        font-size: 18px;
    }
}

@media screen and (max-width: 991px) {
    .Content-4 {
        height: auto;
    }
    .header-B-swiper .swiper-slide .Txt-Div {
        width: 100%;
        padding: 0 20%;
        background: rgba(0, 0, 0, .4);
    }
    .Nav-content-Nei.active {
        display: none;
    }
    .header-A-swiper .swiper-slide .text {
        right: 20px;
        width: 400px;
    }
    .header-A-swiper .swiper-slide .text > img {
        width: 100%;
    }
    .Logo-Wra .Logo {
        width: 300px;
    }
    .Logo-Wra .Logo img {
        width: 100%;
    }
    .header-B-swiper .swiper-slide .Txt-Div a {
        margin-top: 15px;
        height: 46px;
        line-height: 46px;
    }
    .header-B-swiper .swiper-slide .Txt-Div p {
        font-size: 16px;
    }
    .header-B-swiper .swiper-slide .Txt-Div strong {
        font-size: 18px;
        margin: 15px 0;
    }
    .header-B-swiper .swiper-slide .Txt-Div h3 img {
        width: 80%;
    }
    .header-A-swiper .swiper-pagination,
    .header-A-swiper .swiper-container-horizontal > .swiper-pagination,
    .header-B-swiper .swiper-pagination,
    .header-B-swiper .swiper-container-horizontal > .swiper-pagination {
        bottom: 15px !important;
    }
    .Content-4 .app-show {
        display: block !important;
    }
    .Content-4 .pc-show {
        display: none !important;
    }
    .content .title img {
        width: 90%;
    }
    /*行业应用*/
    .Industry-Detailed .Industry-Detailed-Wra ul li .f-r,
    .Industry-Detailed .Industry-Detailed-Wra ul li .f-l {
        width: 100%;
    }
    .Industry-Detailed .Industry-Detailed-Wra ul li .f-l {
        text-align: center;
        margin: 20px 0 10px;
    }
    /*合作伙伴*/
    .content.About3 .block ul li .txt h4 {
        font-size: 18px;
    }
    .content.About3 .block ul li .txt h5 {
        font-size: 16px;
    }
    .content.About3 .block ul li {
        margin: 5px;
        width: calc(20% - 10px);
    }
    /*滑动*/
    .content.About3 .block ul li .swiper-Div.active {
        z-index: 9;
        bottom: 10px;
    }
    .content.About3 .block {
        padding-bottom: 30px;
    }
    .About-top {
        margin-bottom: 30px;
    }
    .content.About3 .block ul li .sanjiao {
        display: none;
    }
    .content.About3 .block ul li .swiper-Div.active {
        height: 350px;
    }
    .content.About3 .block ul.active {
        padding-bottom: 370px;
    }
    .content.About3 .block ul li.active .viewphoto img {
        opacity: .5;
    }
    // .content.About3 .block ul.active {
    //     padding-bottom: 0;
    //     position: static;
    // }
    // .content.About3 .block ul li .sanjiao.active {
    //     display: none;
    // }
    // .content.About3 .block ul li .swiper-Div {
    //     position: fixed;
    //     top: 50%;
    //     left: 50%;
    //     height: auto;
    //     -webkit-transform: translate(-50%, -50%);
    //     -moz-transform: translate(-50%, -50%);
    //     transform: translate(-50%, -50%);
    //     display: none;
    // }
    // .content.About3 .block ul li .swiper-Div.active {
    //     z-index: 9;
    //     position: fixed;
    //     top: 50%;
    //     left: 50%;
    //     height: auto;
    //     -webkit-transform: translate(-50%, -50%);
    //     -moz-transform: translate(-50%, -50%);
    //     transform: translate(-50%, -50%);
    //     opacity: 1;
    //     z-index: 99999;
    //     display: block;
    // }
    // .content.About3 .block .back.active {
    //     display: block;
    // }

}

@media screen and (max-width: 767px) {
    .app-show {
        display: block !important;
    }
    .pc-show {
        display: none !important;
    }
    .Home-Content-B {
        display: none;
    }
    .Nav-Wra .Nav,
    .Nav-Wra .Nav > ul {
        width: 230px;
    }
    .Nav-Wra .Nav > ul > li > a,
    .Nav-Wra .Nav > ul > li ul li a {
        padding-right: 20px;
    }
    .Nav-Wra .Nav .Chinese-English {
        right: 15px;
    }
    .Nav-Wra .Nav > ul > li > a {
        font-size: 18px;
    }
    .Nav-Wra .Nav > ul > li ul li a {
        font-size: 14px;
    }
    .Nav-Wra .Nav > ul > li {
        line-height: 40px;
    }
    .Nav-Wra .Nav > ul > li ul li {
        line-height: 30px;
    }
    .Nav-Wra .Nav .Chinese-English {
        bottom: 20px;
        font-size: 14px;
    }
    .Nav-Wra .Nav .Chinese-English p i {
        display: block;
        position: absolute;
        top: -5px;
        bottom: auto;
        right: 0;
    }
    .header-A-swiper .swiper-slide .text {
        width: 330px;
        background: rgba(0, 0, 0, .2);
        padding: 15px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .header-A-swiper .swiper-slide .text article strong {
        font-size: 18px;
    }
    .header-A-swiper .swiper-slide .text article p {
        font-size: 16px;
    }
    .header-A-swiper .swiper-slide .text article a {
        font-size: 18px;
        height: 45px;
        line-height: 45px;
    }
    .header-A-swiper .swiper-slide .text {
        color: #eee;
    }
    .Logo-Wra .Logo {
        width: 200px;
    }
    .Logo-Wra {
        left: 20px;
    }
    .Nav-Wra .button {
        width: 45px;
        height: 45px;
    }
    .Nav-Wra.active .button {
        width: 45px;
        height: 45px;
    }
    .Nav-Wra .button .bor {
        width: 45px;
        height: 45px;
        border: 2px solid #c80a28 !important;
    }
    .Nav-Wra.active .button .span span {
        width: 35px;
        height: 3px;
    }
    .Nav-Wra .button .span {
        left: -10px;
    }
    .header-A-swiper .swiper-slide .text article a {
        background: #eee;
    }
    .header-A-swiper .swiper-slide > img {
        width: auto;
        position: relative;
        right: 52%;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
    .header-B-swiper {
        display: none;
    }
    .Home-Content-A .Content-Nei .maple-tab ul li {
        font-size: 14px;
        margin: 0 2px;
        width: calc(25% - 4px);
    }
    .Home-Content-A .Content-Nei {
        margin-top: 30px;
    }
    .Home-Content {
        padding-top: 50px;
    }
    .Home-Content-A .Content-Nei,
    .Home-Content-C .Content-Nei {
        width: 96%;
    }
    .Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a i {
        height: 100%;
        top: 0;
        background: #9798a2;
        z-index: -1;
    }
    .Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a h4 p {
        color: #fff;
    }
    .Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a h4 span {
        color: #fff;
    }
    .Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a strong {
        visibility: visible;
    }
    .Home-Content-A .Content-Nei .Home-Content-A-container .Home-Content-A-slide > div > a img.Bottom {
        visibility: visible;
        opacity: 1;
    }
    .Home-Content-A .Content-Nei .maple-tab {
        margin-bottom: 100px;
    }
    .Home-Content-A .Content-Nei .gengduo,
    .Home-Content-C .Content-Nei .gengduo {
        right: 50%;
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        transform: translateX(50%);
        border: 1px solid #c80a28;
        color: #c80a28;
        padding: 3px 10px;
        font-size: 18px;
    }
    .Home-Content-A .Content-Nei .gengduo i,
    .Home-Content-C .Content-Nei .gengduo i {
        display: none;
    }
    .Home-Content h2 > img {
        width: 230px;
    }
    .Home-Content h2 p {
        font-size: 16px;
    }
    .Home-Content-A .Content-Nei,
    .Home-Content-C .Content-Nei {
        margin-top: 50px;
    }
    .Home-Content-C .Content-Nei .row>div a p {
        font-size: 14px;
    }
    .footer-Nei .footer-Top h2 img {
        width: 450px;
    }
    .footer-Nei .footer-Top h2 p {
        font-size: 20px;
        margin-top: 10px;
    }
    .footer-Nei .footer-Top {
        padding-top: 50px;
    }
    .footer-Nei .footer-Top img.logo {
        margin: 30px auto;
        width: 230px;
    }
    .footer-Nei .footer-Top a.btn {
        width: 180px;
        height: 45px;
        line-height: 45px;
        font-size: 18px;
    }
    .footer {
        height: 530px;
    }
    /*首页弹出窗*/
    .Eject .modal1 {
        width: 90%;
        padding: 30px 0 50px 0;
    }
    .Eject li .InputText {
        height: 45px;
        line-height: 45px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .Eject .btn {
        height: 45px;
        line-height: 45px;
        font-size: 16px;
    }
    .Eject h3 {
        font-size: 20px;
    }
    .Eject .close {
        width: 40px;
        height: 40px;
        line-height: 36px;
        top: -20px;
        right: -20px;
    }
    .About2>ul li .About2-Div .photo {
        display: none;
    }
    .About2>ul li .About2-Div>div.txt {
        width: 100%;
    }
    .About2>ul li .About2-Div>div.txt .txtNei {
        margin-top: 0;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        transform: translateY(0%);
        padding: 20px 0;
    }
    .About2>ul li .About2-Div>div.txt h2 {
        font-size: 24px;
        margin-bottom: 0;
    }
    .About2>ul li .About2-Div>div.txt p {
        font-size: 16px;
    }
    .About-top {
        margin-bottom: 40px;
        font-size: 20px;
    }
    .About2 > ul {
        margin-bottom: 30px;
    }
    .content .title {
        padding-top: 50px;
    }
    .About .Home-Content-C .Click li {
        width: calc(33.3333% - 9px);
        height: 35px;
        line-height: 35px;
        font-size: 16px;
    }
    .About .Home-Content-C .Click {
        margin-top: 0;
    }
    .About .Home-Content-C .Content-Nei {
        margin-top: 30px;
    }
    .Logo-Wra .BreadCrumb {
        display: none;
    }
    /*联系我们*/
    .content.Contact .leave .leave-Nei2 {
        overflow: hidden;
    }
    .content.Contact .leave .leave-Nei2 ul {
        width: calc(100% + 15px);
    }
    .content.Contact .leave .leave-Nei2 ul li {
        width: 50%;
    }
    .content.Contact .address ul.f-l,
    .content.Contact .address ul.f-r {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0;
    }
    .content.Contact .leave {
        margin-bottom: 10px;
    }
    .Industry .within .txt {
        margin-top: 30px;
    }
    .Industry .within h3 {
        font-size: 18px;
    }
    .Industry .within p {
        font-size: 16px;
    }
    .Industry .within-Wra .swiper .swiper-container {
        width: 100%;
    }
    .Industry .within-Wra .swiper .swiper-container .swiper-slide a {
        padding: 0;
    }
    .Industry .within-Wra {
        margin-bottom: 30px;
    }
    /*行业应用*/
    .Industry-Detailed .Industry-Detailed-Wra ul li .f-r.photo img {
        width: calc(25% - 9px);
        margin-right: 5px;
    }
    .Industry-Detailed .Industry-Detailed-Wra .Btn {
        margin: 20px auto;
        height: 45px;
        line-height: 45px;
        width: auto;
        font-size: 18px;
    }
    .Industry-Detailed .Industry-Detailed-Wra ul li .f-r p {
        font-size: 16px;
        text-indent: 2em;
    }
    .Industry-Detailed .Industry-Detailed-Wra h3 {
        margin: 20px 0;
        font-size: 20px;
    }
    .Industry-Detailed .Industry-Detailed-Wra ul li .f-l {
        margin-top: 0;
    }
    .About1 .Centent .bottom h3 {
        margin-bottom: 30px;
    }
    .About1 {
        padding-bottom: 30px;
    }
    // .content.About3 .block ul li .swiper-Div .swiper-container {
    //     width: 90%;
    // }
    // // .content.About3 .block ul li .swiper-Div.active {
    // //     height: 150px;
    // // }
    // .content.About3 .block {
    //     padding-bottom: 30px;
    // }
    .content.About3 .block ul li .swiper-Div.active {
        height: 250px;
    }
    .content.About3 .block ul.active {
        padding-bottom: 270px;
    }
}

@media screen and (max-width: 534px) {
    .Home-Content-C .Content-Nei .row > div {
        width: 100%;
    }
    .Home-Content-C .Content-Nei {
        padding-bottom: 50px;
    }
    .Home-Content-A .Content-Nei,
    .Home-Content-C .Content-Nei {
        margin-top: 30px;
    }
    .footer-Nei .footer-Top h2 img {
        width: 90%;
    }
    .footer-Nei .footer-Top h2 p {
        font-size: 16px;
    }
    .footer-Nei .footer-Top a.btn {
        margin-top: 15px;
    }
    .footer-Nei .footer-Top .Address>div.f-l,
    .footer-Nei .footer-Top .Address>div.f-r {
        float: none;
        text-align: center;
        width: 100%;
        padding: 0;
    }
    .footer-Nei .footer-Top .Address>div.f-r {
        margin-top: 10px;
    }
    .footer-Nei .footer-Top {
        padding-top: 30px;
    }
    .Home-Content-A .Content-Nei .maple-tab ul li {
        width: 100%;
        margin: 5px 0;
    }
    /*联系我们*/
    .content.Contact .leave .leave-Nei2 ul li {
        width: 100%;
    }
    /*行业应用*/
    .Industry-Detailed .Industry-Detailed-Wra ul li .f-r.photo img {
        width: calc(50% - 15px);
        margin: 5px;
    }
    .content.About3 .block ul li {
            margin: 2px;
           width: calc(20% - 4px);
    }
     .content.About3 .block ul li .swiper-Div.active {
        height: 200px;
    }
    .content.About3 .block ul.active {
        padding-bottom: 220px;
    }
}
