html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}
body {
    line-height: 1
}

:focus {
    outline: 1
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-02-25 23:52:04
 * @version $Id$
 */
body {
  font-size: 12px;
  font-family: "微软雅黑";
  line-height: 1.5; }

a {
  text-decoration: none;
  display: inherit;
  color: #fff; }

img {
  display: block;
  font-size: 0;
  line-height: 0; }

li {
  list-style: none; }

.f_left {
  float: left; }

.f_right {
  float: right; }

.container {
  position: relative;
  width: 100%; }

.inner {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  min-width: 960px; }
  .inner:before {
    content: '';
    clear: both; }
  .inner:after {
    content: '';
    clear: both; }

i[class^="icon-"] {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-image: url(../img/icon-sprite.png); }

.icon-search {
  background-position: 0 -100px; }

.icon-qq {
  background-position: 0 -50px; }

.icon-weibo {
  background-position: 0 -25px; }

.icon-lang {
  background-position: 0 -75px; }

.row {
  width: 100%;
  clear: both;
  overflow: hidden; }
  .row:after {
    content: ' ';
    clear: both; }
  .row div[class^="col-md-"] {
    float: left; }
  .row .col-md-38 {
    width: 38%;
    height: 100%; }
    .row .col-md-38 img {
      width: 66%;
      margin-left: 17%;
      margin-top: 10%; }
  .row .col-md-62 {
    width: 62%; }
    .row .col-md-62 img {
      width: 100%; }
  .row .col-md-50 {
    width: 50%;
    position: relative;
    cursor: pointer; }
    .row .col-md-50 img {
      width: 100%; }
    .row .col-md-50 a {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      left: 0;
      top: 0; }
      .row .col-md-50 a img {
        width: 40%;
        margin: 12% auto; }
      .row .col-md-50 a.products-household img {
        margin: 5% auto; }
      .row .col-md-50 a.products-accessories img {
        margin: 5% auto; }
    .row .col-md-50:hover a {
      display: block; }

.cp-gold {
  background-color: #F8CE46; }

.cp-motherscat {
  background-color: #EE9C91; }

.cp-oralcare {
  background-color: #BBCE3A; }

.bobo-around {
  position: relative; }
  .bobo-around div[class^='bobo-'] {
    width: 24%;
    padding-left: 6.8%;
    margin: 30px 0;
    display: inline-block;
    position: relative; }
    .bobo-around div[class^='bobo-']:after {
      content: '';
      position: absolute;
      right: -15%;
      top: 45%;
      width: 25px;
      height: 25px;
      background-image: url(../img/icon-sprite.png);
      background-position: 0 -125px; }
    .bobo-around div[class^='bobo-']:last-child:after {
      background-image: none; }
    .bobo-around div[class^='bobo-'] a {
      width: 100%;
      display: block;
      color: #fff;
      position: relative; }
      .bobo-around div[class^='bobo-'] a img {
        width: 100%; }
      .bobo-around div[class^='bobo-'] a span {
        width: 100%;
        position: absolute;
        text-align: center;
        display: block;
        bottom: 8%; }
  .bobo-around .tel {
    position: fixed;
    cursor: pointer;
    right: 0;
    height: 88px;
    padding: 12px 100px 0 0;
    background-color: #C40030;
    bottom: 88px;
    z-index: 9; }
    .bobo-around .tel .icon-tel {
      position: absolute;
      right: 25px;
      top: 25px;
      width: 50px;
      height: 50px;
      background-position: 0 -175px; }
    .bobo-around .tel img {
      display: none; }
    .bobo-around .tel:hover {
      padding-left: 30px;
      border-radius: 30px 0 0 30px; }
      .bobo-around .tel:hover img {
        display: inline-block; }

.footer {
  padding: 20px 0;
  background-color: #C40030;
  background-image: url(../img/footer-img-01.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  color: #fff; }
  .footer .btn-about {
    width: 12%;
    max-width: 195px;
    margin: 0 auto; }
    .footer .btn-about img {
      width: 100%; }
    .footer .btn-about:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 45px;
      bottom: -45px;
      left: 0;
      background-color: #C40030; }
    .footer .btn-about:after {
      content: '';
      position: absolute;
      width: 50px;
      height: 25px;
      bottom: -35px;
      left: 50%;
      margin-left: -25px;
      background-image: url(../img/icon-sprite.png);
      background-position: center -150px;
      background-repeat: no-repeat; }
  .footer .inner {
    display: none;
    padding: 40px 0 0px;
    overflow: hidden;
    line-height: 1.8; }
  .footer .f_left {
    margin-left: 100px;
    padding-left: 10px;
    border-left: 1px #fff solid; }
  .footer .f_right {
    margin-right: 100px; }
  .footer .nav-footer li {
    display: inline-block; }
  .footer.active .btn-about:before {
    display: none; }
  .footer.active .btn-about:after {
    display: none; }
  .footer.active .inner {
    display: block; }

.top-bar {
  padding: 34px 0;
  z-index: 9;
  /*search-wrap*/
  /*lang-wrap*/
  /*social-wrap*/
  /*user-wrap*/ }
  .top-bar .logo {
    display: inline-block;
    margin-left: 30px; }
  .top-bar .search-wrap,
  .top-bar .lang-wrap,
  .top-bar .social-wrap,
  .top-bar .user-wrap {
    float: right;
    display: none; }
  .top-bar .search-wrap {
    position: relative;
    top: 8px;
    display: block;
    border: 1px #ccc solid;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin-right: 30px; }
    .top-bar .search-wrap:hover {
      width: 200px; }
      .top-bar .search-wrap:hover input {
        display: block; }
    .top-bar .search-wrap input {
      display: none;
      position: absolute;
      width: 150px;
      top: 0px;
      padding-left: 10px;
      border: none;
      outline: none;
      height: 36px;
      left: 0;
      background-color: transparent; }
    .top-bar .search-wrap .btn-search {
      position: absolute;
      top: 8px;
      right: 8px; }
  .top-bar .lang-wrap {
    position: relative;
    cursor: pointer;
    top: 8px;
    padding-bottom: 10px;
    display: block;
    right: 2em; }
    .top-bar .lang-wrap .btn-lang {
      display: block;
      width: 40px;
      height: 40px;
      pointer-events: none;
      border-radius: 40px;
      background-color: #ccc;
      position: relative; }
      .top-bar .lang-wrap .btn-lang i {
        position: absolute;
        left: 7px;
        top: 7px; }
    .top-bar .lang-wrap span {
      display: none;
      position: absolute;
      left: -35px;
      top: 48px;
      width: 110px;
      color: #fff;
      overflow: hidden;
      text-align: center;
      line-height: 2.5;
      border-radius: 10px;
      background-color: #C3002F; }
      .top-bar .lang-wrap span a {
        display: inline-block; }
    .top-bar .lang-wrap:hover a {
      background-color: #C3002F; }
    .top-bar .lang-wrap:hover span {
      display: block; }
  .top-bar .social-wrap {
    display: block;
    position: relative;
    right: 4em;
    top: 15px; }
    .top-bar .social-wrap ul {
      /* overflow: hidden; */ }
    .top-bar .social-wrap li {
      margin: 0 5px;
      float: left; }
    .top-bar .social-wrap .btn-wchat,
    .top-bar .social-wrap .btn-qq,
    .top-bar .social-wrap .btn-weibo {
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 25px; }
    .top-bar .social-wrap .btn-wchat {
      background-color: #8DC81B;
      position: relative; }
      .top-bar .social-wrap .btn-wchat .erweima {
        display: none;
        position: absolute;
        position: 0;
        top: 24px;
        left: -30px;
        padding-top: 20px; }
      .top-bar .social-wrap .btn-wchat img {
        border-radius: 5px;
        border: 6px #C4002F solid; }
      .top-bar .social-wrap .btn-wchat:hover {
        background-color: #C3002F; }
        .top-bar .social-wrap .btn-wchat:hover .erweima {
          display: block; }
    .top-bar .social-wrap .btn-qq {
      background-color: #68A5E1; }
      .top-bar .social-wrap .btn-qq:Hover {
        background-color: #C3002F; }
    .top-bar .social-wrap .btn-weibo {
      background-color: #C3002F; }
  .top-bar .user-wrap {
    position: relative;
    top: 8px;
    display: block;
    right: 6em; }
    .top-bar .user-wrap .btn-login {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background-color: #D3CDC8;
      color: #fff;
      text-align: center;
      line-height: 40px;
      font-size: 11px;
      letter-spacing: 3px; }
      .top-bar .user-wrap .btn-login:hover {
        background-color: #C3002F; }

.nav-wrap {
  background-color: #C3002F;
  height: 28px;
  width: 100%; }

.nav-bar > li {
  float: left;
  /* position: relative; */
  line-height: 27px;
  font-size: 14px;
  color: #fff;
  list-style: none;
  width: 20%;
  max-width: 152px; }
  .nav-bar > li > a {
    display: block;
    position: relative;
    color: #fff;
    text-align: center;
    border-top: 1px transparent solid; }
    .nav-bar > li > a:hover {
      color: #C3002F;
      background-color: #fff;
      border-top-color: #DFAD47; }
    .nav-bar > li > a:after {
      content: '·';
      color: #fff;
      position: absolute;
      right: 0; }
  .nav-bar > li:last-child a:after {
    content: ''; }
  .nav-bar > li.active a {
    color: #C3002F;
    background-color: #fff;
    border-top-color: #DFAD47; }
  .nav-bar > li.near a:after {
    content: ''; }
  .nav-bar > li:hover .sub-nav {
    height: 215px;
    padding: 20px 0 35px;
    border-bottom: 1px #F9CA57 solid; }
  .nav-bar > li:hover a {
    color: #C3002F;
    background-color: #fff;
    border-top-color: #DFAD47; }
.nav-bar .sub-nav {
  position: absolute;
  height: 0;
  padding: 0;
  overflow: hidden;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); }
  .nav-bar .sub-nav li {
    display: block;
    float: none;
    width: auto;
    line-height: 2.1; }
    .nav-bar .sub-nav li a {
      color: #000;
      background-color: transparent;
      border-top-color: transparent; }
      .nav-bar .sub-nav li a:after {
        content: ''; }
      .nav-bar .sub-nav li a:hover {
        color: #C3002F; }
    .nav-bar .sub-nav li.active a {
      color: #C3002F; }
  .nav-bar .sub-nav .cp-catalog,
  .nav-bar .sub-nav .cp-list,
  .nav-bar .sub-nav .cp-photo {
    float: left; }
  .nav-bar .sub-nav .cp-catalog {
    margin-left: 60px;
    width: 145px; }
  .nav-bar .sub-nav .cp-list {
    height: 215px;
    padding-left: 50px;
    width: 240px;
    position: relative;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    overflow: hidden; }
    .nav-bar .sub-nav .cp-list ul {
      display: none;
      position: absolute;
      width: 100%; }
      .nav-bar .sub-nav .cp-list ul.active {
        display: block; }
    .nav-bar .sub-nav .cp-list li {
      width: 50%;
      float: left; }
  .nav-bar .sub-nav .cp-photo {
    float: left;
    padding-left: 50px; }
  .nav-bar .sub-nav.brand .cp-list {
    width: 400px; }
  .nav-bar .sub-nav.brand li {
    width: 100%;
    float: none; }

.banner a {
  line-height: 0; }
.banner img {
  width: 100%; }
.banner .slider-wrapper > li {
  display: none; }
  .banner .slider-wrapper > li:nth-child(1) {
    display: block; }
.banner .slick-slider {
  margin-bottom: 0; }
.banner .slick-dots {
  bottom: 10px;
  z-index: 99; }
.banner .slick-prev {
  left: 25px;
  z-index: 999; }
.banner .slick-next {
  right: 25px;
  z-index: 999; }
.banner .slick-prev:before,
.banner .slick-next:before {
  color: #C3002F; }
.banner .slick-dots li.slick-active button:before,
.banner .slick-dots li:hover button:before {
  color: #C3002F;
  opacity: 1; }
